.glowingEffectContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px; /* Control the size of the glow effect */
  height: 900px; /* Control the size of the glow effect */
  background: radial-gradient(circle, rgba(76, 33, 161, 0.301) 0%, transparent 62%);
  border-radius: 50%;
  z-index: -1;
}

.glowingEffectContainer {
  position: relative;
}
